.container {
  max-width: 100%;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: auto;
}
table,
th,
td {
  border: 1px solid #ddd;
}
th,
td {
  padding: 10px;
  text-align: left;
}
th {
  background-color: var(--first-color);
  color: #fff;
}
.order-content {
  white-space: normal; 
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  max-width: 300px; 
}

.order-content-scroll {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-height: 300px; /* maximale Höhe, anpassbar */
  overflow-y: auto; /* vertikales Scrollen erlauben */
}
